h2 {
    font-family: Inter;
    text-align: center;
    font-size: 48px;
    line-height: 64.8px;
    font-weight: 600;
    width: 856px;
    height: 65px;
}

p {
    font-family: Inter;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

ol {
    font-family: Inter;
    font-size: 21px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.button-div {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    width: 97px;
    height: 24px;

}

.p-footer {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

    width: 146px;
    height: 27px;


    width: fixed (856px);
    height: hug (59px);
    padding: 16px, 0px, 16px, 0px;
    justify: space-between;

}

.content-block {
    width: hug (1, 400px);
    height: hug (1, 472px);

}